<html>
<head>
	<title></title>
</head>
<body>

<div id="content_container" class="content">
</div>
<div id="content" class="content">
	<script>
	$('#content').empty();
	$('#content').append(template);
	$('#content').append(headshot);
	$('#content').append(pointer);
	$('#content').append(sites);
	$('#content').append(exp);
	</script>
</div>

</body>
</html>
