<html>
<head>
	<title></title>
</head>
<body>

<div id="content_container">
<ul id="content">
	<script>
	$('#content').empty();
	$('#content').append(template);
	$('#content').append(headshot);
	$('#content').append(pointer);
	$('#content').append(sites);
	$('#content').append(exp);
	</script>
</ul>
</div>
</body>
</html>
