<html>
<head>
	<title></title>
</head>
<body>
<div id='box'>
<div id="content_container" class="content">
</div>
<div id="content" class="content">
	<script>
	$('#content').empty();
	$('body').append(snowscreen);
	</script>
</div>
</div>

</body>
</html>
